* { margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

    body { 
        font-family: Arial, sans-serif; 
    }
    .header {
        display: flex;
        background-color: #131921;
        color: white;
        align-items: center;
        margin-bottom: 5px;
    }

    .search-box {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    .search-box input {
        padding: 10px 10px 5px 10px;
    }
    
    .search-box button {
        padding: 10px 10px 5px 10px;
        background-color: #f6ca91;
    }
.flex-container{ 
    flex-direction: row;
    align-items: center;
}

